/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 Jan, 2020, 11:39:08 AM
    Author     : Admin
*/

.box{
	background-color:gray;
	border:2px solid black;
	min-height:400px;
    
	
}
